.single {
  .single-item-parallax {
    color: #fff;
    background-image: url(../images/singleItemParallax.jpg);
    background-size: cover;
    margin-bottom: 30px;
    padding-top: 150px;
    padding-bottom: 130px;
    display: block;
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
  }

  .single-item-parallax h1 {
    font-size: 2.4rem;
  }

  .single-item-parallax>div {
    opacity: 0.7;
  }

  .variation-select {
    margin-bottom: 10px;
  }

  .variation-select label {
    display: block;
    margin-bottom: 0;
  }

  .variation-select .input-unit {
    display: inline-block;
    width: auto;
  }

  .variation-select select {
    width: auto;
  }

  .input-unit {
    margin: 0;
  }

  .custom-select {
    padding: 0.8rem 2rem 0.8rem 1rem;
  }

  .title {
    line-height: 1.2;
    font-size: 1.7rem;
    font-weight: normal;
  }

  .vat {
    margin: 0;
    color: #636363;
  }

  .qty-section .label {
    margin-right: 20px;
  }

  .qty-section {
    margin-bottom: 20px;
  }

  .qty-box {
    height: 34px;
    position: relative;
  }

  .qty-box .qty-input {
    position: relative;
    width: 40px;
    height: 34px;
    margin: 0 22px;
    z-index: 2;
    border-left: 0;
    border-right: 0;
    font-size: 1.2rem;
    border: 1px solid $legend-border-color;
    text-align: center;
  }

  .qty-box .qty-btn-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 84px;
    background: 0;
    height: 35px;
    line-height: 35px;
    border: 0;
    text-align: center;
  }

  .qty-box .qty-btn-container .qty-btn {
    background-color: transparent;
    border: 0;
    line-height: unset;
  }

  .qty-box .qty-btn-container .qty-btn-seperator {
    display: none;
  }

  .qty-box .qty-btn-container .qty-btn:not(.disabled):hover {
    background: none;
  }

  .qty-box .qty-btn-container .qty-btn:first-child,
  .qty-box .qty-btn-container .qty-btn:last-child {
    height: 100%;
    width: 22px;
    line-height: 34px;
  }

  .qty-box .qty-btn-container .qty-btn:first-child {
    float: right;
  }

  .qty-box .qty-btn-container .qty-btn:last-child {
    float: left;
  }

  .single-description ul {
    padding-left: 15px;
  }

  .single-description,
  .prod-row-with-title {
    margin-bottom: 25px;
  }

  .prod-row-with-title.both {
    margin-top: 0;
  }

  .price {
    color: $legend-color-secondary;
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 1;
    float: none;
  }

  .add-to-basket-container {
    display: block;
  }

  .add-to-basket-container .quantity-input-container {
    margin-right: 0;
  }

  .add-to-basket-container .btn-primary,
  .add-to-basket-container .add-to-wish-list {
    padding: 1rem 1rem;
    font-weight: 600;
    font-size: 1.25rem;
    letter-spacing: 1px;
  }

  .add-to-basket-container .add-to-wish-list {
    line-height: 1.25;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid $legend-border-color;
    width: 50px;
  }

  .add-to-basket-container .add-to-wish-list .pl-material {
    vertical-align: middle;
  }

  .base-price-after-price {
    display: inline;
    font-size: 0.8rem;
    font-weight: normal;
  }

  .prod-actions-footer-text,
  .articlenumber,
  .availab {
    font-size: 0.9rem;
  }

  .prod-actions-footer-text {
    text-align: center;
    color: $legend-color-primary-light;
  }

  .prod-actions-footer-text .pl-material {
    display: block;
    font-size: 45px;
    margin-bottom: 15px;
  }

  .add-to-wish-list:hover .pl-material {
    color: $legend-color-secondary !important;
  }

  .add-to-wish-list.active .pl-material {
    color: $legend-color-secondary !important;
  }

  .sinle-item-list-container .h3 {
    position: relative;
    display: inline-block !important;
    padding: 0 20px;
    background: #fff;
    color: $legend-color-primary;
    z-index: 1;
    font-size: 1.7rem;
    text-transform: uppercase;
  }

  .sinle-item-list-container hr {
    position: absolute;
    width: calc(100% - 30px);
  }

  .sinle-item-list-container {
    position: relative;
    text-align: center;
  }

  .nav-tabs .nav-link {
    border-color: $legend-border-color !important;
  }

  .nav-tabs {
    border-color: $legend-border-color;
  }

  .tab-content {
    border: 1px solid $legend-border-color;
    border-top: 0;
    padding: 2rem;
  }

  .prod-row-with-title .input-unit {
    margin-bottom: 0;
  }

  .hr-before-variation {
    margin-bottom: 1.6rem;
  }
}
