{% set title = widget.settings.title.mobile %}

<div class="form-check">
    <input class="form-check-input" type="checkbox" value="true" name="cc" id="cc">
    <label class="form-check-label" for="cc">{{ title }}</label>
</div>
