{% set title = widget.settings.title.mobile %}

<div class="submit-button-container">
    <button type="submit" class="btn btn-primary btn-block">
        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
        {{ title }}
    </button>
</div>
